node red flow.json
[{"id":"aada08bf.679a68","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"b8820c47.9330c","type":"mqtt in","z":"aada08bf.679a68","name":"","topic":"door","qos":"2","datatype":"auto","broker":"8bb7faf0.d58ea8","x":710,"y":200,"wires":[["c89d8141.694d5"]]},{"id":"66440d8b.835914","type":"mqtt out","z":"aada08bf.679a68","name":"","topic":"","qos":"","retain":"","broker":"8bb7faf0.d58ea8","x":470,"y":300,"wires":[]},{"id":"a1484dc7.dd642","type":"mysql","z":"aada08bf.679a68","mydb":"b8531ef.b05bae","name":"","x":1310,"y":300,"wires":[[]]},{"id":"862fbf5.3367b4","type":"function","z":"aada08bf.679a68","name":"","func":"var id = 45;\nvar date=msg.now;\nvalue = msg.payload;\nmsg.topic = \"INSERT INTO door (user_id, status, date) VALUES (\"+id+\", \"+value+\",'\"+date+\"');\";\nreturn msg;\n","outputs":1,"noerr":0,"x":1150,"y":200,"wires":[["a1484dc7.dd642"]]},{"id":"4ef3bfd4.96033","type":"inject","z":"aada08bf.679a68","name":"","topic":"door","payload":"0","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":190,"y":220,"wires":[["66440d8b.835914"]]},{"id":"e306dab1.943248","type":"inject","z":"aada08bf.679a68","name":"","topic":"heater","payload":"37","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":200,"y":280,"wires":[["66440d8b.835914"]]},{"id":"12815f7a.abb6a1","type":"inject","z":"aada08bf.679a68","name":"","topic":"Fridge","payload":"0","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":"0.1","x":200,"y":460,"wires":[["66440d8b.835914"]]},{"id":"7870054e.887f7c","type":"inject","z":"aada08bf.679a68","name":"","topic":"window","payload":"0","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":200,"y":340,"wires":[["66440d8b.835914"]]},{"id":"58a2339e.13515c","type":"inject","z":"aada08bf.679a68","name":"","topic":"light","payload":"1","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":190,"y":400,"wires":[["66440d8b.835914"]]},{"id":"1055ea41.9e6176","type":"mqtt in","z":"aada08bf.679a68","name":"","topic":"heater","qos":"2","datatype":"auto","broker":"8bb7faf0.d58ea8","x":710,"y":260,"wires":[["831ecb05.f68168"]]},{"id":"73c7811.a4b238","type":"mqtt in","z":"aada08bf.679a68","name":"","topic":"light","qos":"2","datatype":"auto","broker":"8bb7faf0.d58ea8","x":710,"y":400,"wires":[["aede7392.eac44"]]},{"id":"8a84b883.2b20d8","type":"mqtt in","z":"aada08bf.679a68","name":"","topic":"Fridge","qos":"2","datatype":"auto","broker":"8bb7faf0.d58ea8","x":710,"y":480,"wires":[["f55065c7.bd1828","6f932c.2540dcd4"]]},{"id":"455a8391.d2f28c","type":"mqtt in","z":"aada08bf.679a68","name":"","topic":"window","qos":"2","datatype":"auto","broker":"8bb7faf0.d58ea8","x":710,"y":320,"wires":[["ac2ee3c9.6ccdb"]]},{"id":"48b5fdda.cd61c4","type":"function","z":"aada08bf.679a68","name":"","func":"\nvar id = 45;\nvar date=msg.now;\nvalue = msg.payload;\nmsg.topic = \"INSERT INTO window (user_id, status, date) VALUES (\"+id+\", \"+value+\",'\"+date+\"');\";\nreturn msg;\n","outputs":1,"noerr":0,"x":1150,"y":320,"wires":[["a1484dc7.dd642"]]},{"id":"6c9aee6e.e0d74","type":"function","z":"aada08bf.679a68","name":"","func":"\nvar id = 45;\nvar date=msg.now;\nvalue = msg.payload;\nmsg.topic = \"INSERT INTO light (user_id, status, date) VALUES (\"+id+\", \"+value+\",'\"+date+\"');\";\nreturn msg;\n","outputs":1,"noerr":0,"x":1130,"y":400,"wires":[["a1484dc7.dd642"]]},{"id":"6ca20cf.d9bd7f4","type":"function","z":"aada08bf.679a68","name":"","func":"\nvar id = 51;\nvar date=msg.now;\nvalue = msg.payload;\nmsg.topic = \"INSERT INTO fridge (user_id, status, date) VALUES (\"+id+\", \"+value+\",'\"+date+\"');\";\nreturn msg;\n","outputs":1,"noerr":0,"x":1130,"y":480,"wires":[["a1484dc7.dd642"]]},{"id":"53e66436.5d2cfc","type":"function","z":"aada08bf.679a68","name":"","func":"var id = 45;\nvar date=msg.now;\nvalue = msg.payload;\nmsg.topic = \"INSERT INTO heater (user_id, status, date) VALUES (\"+id+\", \"+value+\",'\"+date+\"');\";\nreturn msg;\n","outputs":1,"noerr":0,"x":1150,"y":260,"wires":[["a1484dc7.dd642"]]},{"id":"f55065c7.bd1828","type":"ui_gauge","z":"aada08bf.679a68","name":"","group":"5ddbe9fa.c8d548","order":0,"width":0,"height":0,"gtype":"gage","title":"Alarm","label":"units","format":"{{value}}","min":"1","max":"0","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":810,"y":580,"wires":[]},{"id":"b970a66c.792d48","type":"mosca in","z":"aada08bf.679a68","mqtt_port":1883,"mqtt_ws_port":8080,"name":"","username":"root","password":"iotnodered","dburl":"","x":550,"y":100,"wires":[[]]},{"id":"c89d8141.694d5","type":"moment","z":"aada08bf.679a68","name":"","topic":"","input":"","inputType":"date","inTz":"ETC/GMT","adjAmount":0,"adjType":"days","adjDir":"add","format":"YYYY-MM-DD hh:mm:ss","locale":"en_GB","output":"now","outputType":"msg","outTz":"Etc/UTC","x":960,"y":200,"wires":[["862fbf5.3367b4"]]},{"id":"831ecb05.f68168","type":"moment","z":"aada08bf.679a68","name":"","topic":"","input":"","inputType":"date","inTz":"ETC/GMT","adjAmount":0,"adjType":"days","adjDir":"add","format":"YYYY-MM-DD hh:mm:ss","locale":"en_GB","output":"now","outputType":"msg","outTz":"Etc/UTC","x":960,"y":260,"wires":[["53e66436.5d2cfc"]]},{"id":"ac2ee3c9.6ccdb","type":"moment","z":"aada08bf.679a68","name":"","topic":"","input":"","inputType":"date","inTz":"ETC/GMT","adjAmount":0,"adjType":"days","adjDir":"add","format":"YYYY-MM-DD hh:mm:ss","locale":"en_GB","output":"now","outputType":"msg","outTz":"Etc/UTC","x":960,"y":320,"wires":[["48b5fdda.cd61c4"]]},{"id":"aede7392.eac44","type":"moment","z":"aada08bf.679a68","name":"","topic":"","input":"","inputType":"date","inTz":"ETC/GMT","adjAmount":0,"adjType":"days","adjDir":"add","format":"YYYY-MM-DD hh:mm:ss","locale":"en_GB","output":"now","outputType":"msg","outTz":"Etc/UTC","x":960,"y":400,"wires":[["6c9aee6e.e0d74"]]},{"id":"6f932c.2540dcd4","type":"moment","z":"aada08bf.679a68","name":"","topic":"","input":"","inputType":"date","inTz":"ETC/GMT","adjAmount":0,"adjType":"days","adjDir":"add","format":"YYYY-MM-DD hh:mm:ss","locale":"en_GB","output":"now","outputType":"msg","outTz":"Etc/UTC","x":960,"y":480,"wires":[["6ca20cf.d9bd7f4"]]},{"id":"8bb7faf0.d58ea8","type":"mqtt-broker","z":"","name":"iot","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"b8531ef.b05bae","type":"MySQLdatabase","z":"","host":"127.0.0.1","port":"3306","db":"iot","tz":""},{"id":"5ddbe9fa.c8d548","type":"ui_group","z":"","name":"Alarm","tab":"766e3283.ba0bfc","disp":true,"width":"8","collapse":false},{"id":"766e3283.ba0bfc","type":"ui_tab","z":"","name":"Fridge Dashboard","icon":"dashboard","disabled":false,"hidden":false}]